.requests{
    width: 100%;
    margin-top:0;
    height: 50%;
}
.request_container{
    height: 100%;
    width: 60%;
    background: azure;
    margin-left:20%;
    display: block;
}

.menu {
    background: #a9d8ff;
    width: 100%;
    height: 50px;
    margin-top:40px;
  }
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
  }
  .uls{
      display: block;
  }
  .menu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .menu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  .menu.align-right ul li {
    float: right;
  }
  .menu.align-center ul {
    text-align: center;
  }
  .menu ul li p {
    color: #8a8a8a;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
  }
  .menu ul li p:hover {
    color: #4d9ffd;
    cursor: pointer;
}
  .menu ul li p:hover:before {
    width: 100%;
  }
  .menu ul li p:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
  }
  .menu ul li p:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #ffffff;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
  }
  .menu.align-right li.last{
     color: rgb(0, 183, 255);
  }

  @media screen and (max-width: 768px) {
    .menu ul li {
      float: none;
      display: block;
    }
    .menu ul li p {
      width: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-bottom: 1px solid rgb(255, 255, 255);
    }
    .menu ul li p:after {
      display: none;
    }
    .menu ul li p:before {
      display: none;
    }
  }
.requestList{
    height: 90%;
    width: 100%;
    display: block;
}
  
.table_content{
  display: block;

  width: 100%;
  height: 100%;
} 
.list{
  width:100%;
  height: 100%;
}
#custom-search-input {

  margin:0;
  margin-top: 2%;
  width: 80%;
  padding: 0;
  float:left;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  margin-right: 5%;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#1f3e69;
}

.search-query:focus + button {
  z-index: 3;   
}
.table_content{
  display: block;
  padding-top:30px;
  width: 100%;
  height: 80%;
}
.list{
  width:70%;
  margin-left:10%;
  height: 100%;
}
.Search_title{
  height: 25%;
  width:100%;
}
.Search_title h1{
  font-size: 3em;
  margin:0;
  height: 30%;
  width: 100%;
  padding-left:38%;
  padding-top:7%;
  font-family: 'Open Sans', sans-serif;
  color:rgb(100, 100, 100);
}
.container{
  height: 80vh;
}
.row{
  height: 20%;
  width: 80%;

  margin:0;
  margin-left:10%;
  margin-top:5%;
}
.filter_conditions{
  height: 60%;
  
  width: 100%;
}
.selectpicker{
  height: 40%;
  width: 50%;
  float: right;
  font-family: 'Open Sans', sans-serif;
  color:rgb(100, 100, 100);
  margin-right:10%;
}
.condition{
  width: 50%;
  height: 100%; 
  float: left;
  margin-right:8%;
  
}
.condition h1{
  margin:0;
  width: 30%;
  float:left;
  font-size:1.1em;
  font-family: 'Open Sans', sans-serif;
  color:rgb(100, 100, 100);
}
.row button{
  float:right;
  width: 10%;
  margin-top:2%;
  margin-right:7%;
  background-color:#1f3e69;
}
.searchByPo{
  height: 80%;
  width: 100%;
}