#custom-search-input {
    margin:0;
    margin-top: 50px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#1f3e69;
}

.search-query:focus + button {
    z-index: 3;   
}
.table_container::-webkit-scrollbar {
    width: 1em;
}
 
.table_container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.table_containerbody::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  outline: 1px solid rgb(12, 12, 12);
}

.table_content{
    display: block;
    padding-top:30px;
    width: 100%;
    height: 80%;
}
.list{
    width:90%;
    margin-left:-90px;
}
/*.table_container mat-table :hover{
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}*/
/*.table_header :hover{
    background-color: #1f3e69;
}*/