<div class="container">
  <h1>Administrator Login</h1>
  <form>
    <div class="form-group">
      <label for="name">Username</label>
      <input #username type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Password </label>
      <input #password type="text" class="form-control" id="alterEgo" required>
    </div>

    <button type="submit" (click)="submit(username.value,password.value)"class="btn btn-success">Submit</button>
    <button type="submit" (click)="register(username.value,password.value)"class="btn btn-success">Register</button>
  </form>
</div>
