<div class =  "container">
  <div class = "request_header">
      <img _ngcontent-c4=""  (click) = "back()" class="logo" src="/assets/images/logos/logo-white.svg">
  </div>
  
  <div class = "wrapper">
    <div class = "request_title">
        <h1>Request from {{requestFrom}}</h1>
        <h2>Environment: {{environment}}</h2>
        <mat-divider></mat-divider>
    </div>
    
    
    <div class = "request_content">
      <div class = "request_number">
          <h1>PO #{{requestId}}</h1>
      </div>
      <mat-divider></mat-divider>
      <div class = "basic_information">
        <div class = "user_notes">
          <h2>User Notes:</h2>
            <h3>{{notes}}</h3>
        </div>  
        <div *ngIf = "requestStatus == 'unread'" class = "valid_check">
            <div class="form-group">
                <label for="sel1">Valid Request?:</label>
                <select class="form-control" id="sel1">
                  <option>Valid</option>
                  <option>Invalid</option>
                  <option>Confirmation Required</option>
                </select>
              </div>
                           
        </div>
        <div *ngIf = "requestStatus == 'unread'" class = "comment">
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
        </div>
      </div>

      <div class = "actions">
          
          <button  *ngIf = "requestStatus == 'unread'"  type="button" class="btn btn-primary btn-block">Send Message</button>
          <button (click)="back()" type="button" class="btn btn-primary btn-block">Back</button>
          <h3 *ngIf = "requestStatus != 'unread'" >Status : {{requestStatus}}</h3>
          
      </div>
    </div>

    <div class = "breakdown">
      <div class = "breakdown_title">
        <h2>Environment Breakdown</h2>
        <h3> Total cost: £{{total_cost}} </h3>
      </div>
      <mat-divider></mat-divider>
      <div class = "breakdown_list">
              <h3 mat-subheader>Tiers:</h3>
              <div class = "list_item" *ngFor="let vm of vm_breakdown">
                  <div class = "vm_basic">
                    <img src="../../assets/images/vm/windows.svg">
                    <h4 >{{vm.vm_name}}</h4>
                    <h5>£{{vm.cost}}</h5>
                  </div>
                  <div class = "vm_details">
                    <div class = "cpu">
                        <header>Cpu:</header>
                        <h4>Size:{{vm.CPU_breakdown.size}}  ghz     <br>Cost: £{{vm.CPU_breakdown.cost}} </h4>
                      </div>
                    <div class = "ram">
                      <header>Ram:</header>
                      <h4>Size:{{vm.RAM_breakdown.size}} GB     <br>Cost: £{{vm.RAM_breakdown.cost}} </h4>
                    </div>
                    <div class = "hdd">
                      <header>{{vm.HDD_breakdown.name}}:</header>
                      <h4>Size:{{vm.HDD_breakdown.size}} GB     <br>Cost: £{{vm.HDD_breakdown.cost}} </h4>
                    </div>
                    <div class = "management">
                      <header>Management:</header>
                      <h4>Size:{{vm.HDD_breakdown.size}} GB     <br>Cost: £{{vm.HDD_breakdown.cost}} </h4>
                    </div>
                    <div class = "os">
                      <header>Operation_System:</header>
                      <h4>Size:{{vm.HDD_breakdown.size}} GB     <br>Cost: £{{vm.HDD_breakdown.cost}} </h4>
                    </div>
                  </div>
              </div>
              <mat-divider></mat-divider>
              <h3 mat-subheader>Others:</h3>
              <div *ngFor="let otherChange of otherChanges">
                <h4 mat-line>{{note.name}}</h4>
                <p mat-line> {{note.updated | date}} </p>
              </div>
      </div>
    </div>
  </div>
</div>