<div class = "wrap">
  <div class = "description">
    <div class = "company_name">
      <h1>{{name}}</h1>
    </div>
    <div class = "main_content">
      <div class = "company_information">
          <dl>
              <dt>Number of vms :</dt>
              <dd>{{vm_count}}</dd>
              <dt>Number of Tiers :</dt>
              <dd>{{tier_count}}</dd>
              <dt>Number of Users :</dt>
              <dd>{{user_count}}</dd>
              <dt>Total Cost :</dt>
              <dd>{{total_cost}}</dd>
              <dt>Created at :</dt>
              <dd>{{created_at}}</dd>
              <dt>Contract ended at : </dt>
              <dd>16th April 2018</dd>
            </dl>
            
      </div>
      
    </div>

    <div class = "Activity_Log">
        <div class = "log_title">
          <h1>Activity Log</h1>
        </div>
        <div class = "log_content">
          <ul class="log_list">
            <li *ngFor="let log of logs">
                <div class = "description">
                    <b (click)="userClick(log.user_id)">{{log.user}}</b> {{log.description}} on <b>{{log.environment}}</b>
                </div>
                <div class = "time">{{log.created_at}}</div>
            </li>
          </ul>
        </div>

          
    </div>
    
  </div> 
  <div class = "buttons">
      <button type="button" class="btn btn-primary btn-block">Add SLA</button>
      <button type="button" class="btn btn-primary btn-block">Manage</button>
  </div> 
</div>