<nav _ngcontent-c4="" class="navbar main-nav navbar-fixed-top">
    <div _ngcontent-c4="" class="container-fluid">
        <div _ngcontent-c4="" class="navbar-header">
            <a _ngcontent-c4="" class="navbar-brand grids-logo" >
                <img _ngcontent-c4="" class="logo" src="/assets/images/logos/logo-white.svg">
            </a>
        </div>

    </div>
  </nav>
<div class='menu'>
  <div class='uls'>
    <div class='left_ul'>
      <ul>
        <li class='active'><a href='/home/dashboard'><span>Dashboard</span></a></li>
        <li><a href='/home/organization'><span>Organization</span></a></li>
        <li><a href='/home/users'><span>Users</span></a></li>
        <li ><a href='/home/messages'><span>Messages</span></a></li>
        <li ><a href='/home/requests'><span>Requests</span></a></li>
      </ul>
    </div>
    <div class='right_ul'>
      <ul >
          <li ><a _ngcontent-c4="" routerlink="/login" ng-reflect-router-link="/login" href="/login">Log Out</a></li>
          <li class='last'><a _ngcontent-c4="">Abdullah Dev &nbsp; <img _ngcontent-c4="" class="img-circle" src="assets/images/users/1.jpg" width="24px;"></a></li>
      </ul>
    </div>
  </div> 

</div>
<router-outlet></router-outlet>
