    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
                <a _ngcontent-c4="" href="#" class="navbar-brand grids-logo" >
                        <img _ngcontent-c4="" class="logo" src="/assets/images/logos/logo-white.svg">
                </a>
                <h3>Organization Management</h3>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li (click)="changeContent(0)">Profile</li>
            <li (click)="changeContent(1)">Environment</li>
            <li (click)="changeContent(2)">Users</li>            
            <li (click)="changeContent(3)">Contracts</li>
            <li (click)="changeContent(4)">Bills</li>
            <li (click)="changeContent(5)">Safe net policy</li>
        </ul>

    </nav>
    <div *ngIf="conditions[0]"   [@fadeInOut]  class = "profileContent">
        <app-organization-home [oid] = "organization_id" ></app-organization-home>
    </div>
    <div *ngIf="conditions[1]"  [@fadeInOut] class = "environmentContent">
            <app-environments [oid] = "organization_id" ></app-environments>
        </div>
    <div *ngIf="conditions[2]"  [@fadeInOut] class = "usersContent">
        <app-user-list [oid] = "organization_id"></app-user-list>
    </div>
    <div *ngIf="conditions[3]"  [@fadeInOut] class = "contractsContent">
        <app-contract [oid] = "organization_id"></app-contract>
    </div>
    <div *ngIf="conditions[4]"  [@fadeInOut] class = "requestContent">
        <app-bills [oid] = "organization_id"></app-bills>
    </div>
    <div *ngIf="conditions[5]"  [@fadeInOut] class = "safenetContent">
            <app-safenet-policy [oid] = "organization_id"></app-safenet-policy>
    </div>
    

    
</div>  