<div class = "wrapper">
  <div class = "title">
    <h1>
      Contract & CRs of {{environment_name}}
    </h1>
  </div>
  <div class = "contract_information">
    <header>
       <h1>Contract information</h1>
    </header>
    <div class = "content">

      <div class ="date_price">
        <h2>Contract Signed At:{{created_at}}</h2>
        <h3>Cost : £{{cost}}/month</h3>
      </div>
      <div class = "details">
          <h6>VM Cost BreakDown:</h6>
        <div class = "breakdown">
          
          <div class = "detail_element" *ngFor="let element of vm_cost" >
            <h2>{{element.name}}</h2>
            <h3>£ {{element.base_cost}}</h3>
          </div>
        </div>
        <div class = "notes_pdf">
          <div class = "signed_by">
            <h1>Organisation:</h1>
            <p>{{organisation_name}}</p>
          </div>
          <div class ="notes">
              <h1>Note:</h1>
              <p>{{note}}</p>
          </div>
          <div class ="po_pdf">
            <h1>PO:{{id}}</h1>
            <p>View PDF</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class = "crs">
    <header>
      <h1>Change requests</h1>
    </header>
    <div class = "crs_table">
        <app-table-format [table]="table" category = "request" [isRequest] = "true" class="table_content"></app-table-format>
    </div>
  </div>
  <div class = "actions">
      <button type="button" class="btn btn-primary btn-block">Update Contract PDF</button>
      <button (click)="back()" type="button" class="btn btn-primary btn-block">Close</button>
  </div>
</div>