
.table_content{
    display: block;
    padding-top:10%;
    width: 60%;
    height: 80%;
    padding-left:10%;
}
.description{
    height: 100px;
    width: 100px;
    padding-top:100px;
    padding-left:50px;
}
.description p{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 22pt;
}