<div class = "wrap">
  <div class = "description">
    <div class = "company_name">
      <h1>{{organization_name}}</h1>
    </div>
    <div class = "main_content">
      <div class = "company_information">
          <dl>
              <dt>Main Account :</dt>
              <dd>{{main_account}}</dd>

              <dt>Account Create Date :</dt>
              <dd>{{account_create_date}}</dd>

              <dt>Company Address: </dt>
              <dd>{{address}}</dd>
            </dl>
            
      </div>
      <div class = "notes">
          <div class = "notes_title" >
              <p>Notes</p>
          </div>
          <div *ngIf="!edit" class = "notes_content">
              <p spellcheck="false">{{note_content}}</p>
          </div>
          <div  *ngIf="edit" class = "edit_content" contenteditable="true">
              <div class="form-group">
                  <textarea #notes class="form-control" placeholder = "{{note_content}}" rows="5" id="comment">{{note_content}}</textarea>
                  <div class="save_button">
                    <img src="../../assets/images/notes/close.png"  (click) = "close_note()" class="save_icon">
                    <img src="../../assets/images/notes/save.png"  (click) = "save_note(notes.value)" class="save_icon">
                  </div>
                </div>
              
          </div>
          <div class="note_button">
              
              <img src="../../assets/images/notes/write.png" (click) = "write_note()" class="write_icon">
          </div>
      </div>
    </div>

    <div class = "Activity_Log">
        <div class = "log_title">
          <h1>Activity Log</h1>
        </div>
        <div class = "log_content">
          <ul class="log_list">
            <li *ngFor="let log of logs">
                <div class = "description">
                    <b (click)="userClick(log.user_id)">{{log.user}}</b> {{log.description}} on <b (click) = "environmentClick(log.environment_id)">{{log.environment}}</b> 
                </div>
                <div class = "time">{{log.created_at}}</div>
              </li>
          </ul>
        </div>

          
    </div>
    
  </div>
  <div class = "buttons">
      <button type="button" class="btn btn-primary btn-block">Delete</button>
      <button type="button" class="btn btn-primary btn-block">ChangeManager</button>
      <button type="button" class="btn btn-primary btn-block">Check Usage</button>
  </div>
</div>