<div class="container">
  <div class = "Search_title">
    <h1>User Search</h1>
  </div>
      
      
    <div class="row">
      <div class = "filter_conditions">
          <div class = "condition" *ngFor = "let condition of conditions" >
            <h1>{{condition.title}}</h1>
            <select (change)= "change_condition($event,condition)" class="selectpicker" >
                <option #test *ngFor = "let option of condition.value">{{option}}</option>
            </select>
          </div>
            
      </div>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input (keyup)="input($event)" type="text" class="  search-query form-control" placeholder="User name" />
        </div>
        
      </div>
      <button (click) = "search()" type="button" class="btn btn-primary btn-block">Search</button>
    </div>
  <div *ngIf = "serach_submitted" class = "list">
    <app-table-format [table]="table" [category]="'user'" [isUser] = "true" class="table_content"></app-table-format>
  </div>
</div>
